<div class="row">
	<div class="col-xs-3">
		<table class="table">
				<tr>
					<td>今月の予定</td>
				</tr>
		</table>
	</div>

	<div class="col-xs-9">
		<h2>予約</h2>

		<table>
			<thead>
				<tr>
					<th id="prev">&laquo;</th>
					<th id="title" colspan="5">2020/05</th>
					<th id="next">&raquo;</th>
				</tr>
				<tr>
					<th>Sun</th>
					<th>Mon</th>
					<th>Tue</th>
					<th>Wed</th>
					<th>Thu</th>
					<th>Fri</th>
					<th>Sat</th>
				</tr>
				<tr>
					<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>
				</tr>
				<tr>
					<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>
				</tr>
				<tr>
					<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>
				</tr>
				<tr>
					<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>
				</tr>
				<tr>
					<td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td>
				</tr>
			</thead>
			<tbody>
			</tbody>
			<tfoot>
				<tr>
					<td id="today" colspan="7">Today</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
