<p id="notice"><%= notice %></p>


<p>
  <strong>時間</strong>
  <%= @reservation.start_time.strftime("%Y-%m-%d") %>
</p>



<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>