<h2>予約内容</h2>

<p>
  <%= @contact.start_time %><%= @contact.time %>に<%= @contact.message %>が予約しました
</p>

------------------------------------------------
<p>email: <%= @contact.email %></p>

------------------------------------------------
