<h2>予約内容</h2>

<p>
  <%= @contact %>, find me in app/views/contact_mailer/contact_mail.html.erb
</p>

------------------------------------------------
<p>email: <%= @contact.email %></p>

<p>content: <%= @contact.message %></p>

------------------------------------------------
