<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <h2>
        <font color="#ffffff">
          研究室予約
        </font>
      </h2>
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">
        <li class="icon">
          <%= link_to root_path do %>
          <i class="fas fa-link"></i>
          予約一覧
          <% end %>
        </li>
        <li class="icon">
          <%= link_to root_path do %>
          <i class="fas fa-edit"></i>
          新規登録
          <% end %>
        </li>
        <li class="icon">
          <%= link_to root_path do %>
          <i class="fas fa-sign-in-alt"></i>
          ログイン
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>